# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/dist
/public
.cache
.parcel-cache
/excalidraw-package
/public
/package

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 字体文件说明
# playground/fonts/ 目录中的字体文件需要手动添加
# 请将 PingFangMengMeng-2.ttf 放置在 playground/fonts/ 目录中
